html,body {     
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; 
  text-align: center;     
}

#hd_slide1{
  background-image: url('../images/1.png');
} 

#hd_slide2{
  background-image: url('../images/2.png');
}

#hd_slide3{
  background-image: url('../images/3.png');
} 

#hd_slide4{
  background-image: url('../images/4.png');
}

.btn{
  margin-left: 10px;
}

.sign_up{
  margin-left: -150px;
  width: 350px;
}

.info_index_title{
  text-align: left;
  padding-left: 21px;
  padding-bottom: 10px;
  text-decoration:underline;
}

.info_index_title2{
  text-align: left;
  padding-left: 0px;
  padding-bottom: 10px;
  text-decoration:underline;
}

.info_index{
  border-left: 2px solid #999999;
  text-align: left;
  padding-left: 20px;
}

.hd_slide{
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo{
  float: left;
  padding-left: 90px;
  padding-top: 20px;
  color: black
}

.logoimg{
  height: 91px;
  width: 80px;
}

.left_space{
  margin-left: 15px;
}

#banner{
  margin-top: 5px;
}
